html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  background-color: #162831;
}

.container {
  min-width: 1346px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding-top: 30px;
  margin-bottom: 50px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.header-menu-link {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}
.header-cta {
  padding: 9px 15px;
  color: #fff;
  font-family: "Roboto", serif;
  font-size: 13px;
  font-weight: 250;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  background-color: #018abe;
  border-radius: 3px;
}

.session-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.session-title {
  margin-bottom: 100px;
}
.session-container {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: repeat(3, 258px);
  gap: 24px;
}
.session-item {
  background-image: url("/Image/bg-lesson.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.session-item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("/Image/bg-lesson.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px;
  border-bottom: 10px solid #018abe;
}
.session-item-title {
  color: #fff;
  font-family: "El Messiri", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  text-align: left;
}